@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@layer base {
  :root {
    /* fonts */
    --roboto: "Roboto", sans-serif;
    

    /* colors */
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    --tomato: hsl(4, 100%, 67%);
  }
}

#success_message {
  display: none;
}
